[submodule "vim/bundle/tpope-vim-pathogen"]
	path = vim/bundle/tpope-vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/scripts-xoria256"]
	path = vim/bundle/scripts-xoria256
	url = git://github.com/vim-scripts/xoria256.vim.git
[submodule "vim/bundle/scripts-vibrantink"]
	path = vim/bundle/scripts-vibrantink
	url = git://github.com/vim-scripts/vibrantink.git
[submodule "vim/bundle/scripts-matchit-zip"]
	path = vim/bundle/scripts-matchit-zip
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "vim/bundle/majutsushi-tagbar"]
	path = vim/bundle/majutsushi-tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/VimEz-ShowMarks"]
	path = vim/bundle/VimEz-ShowMarks
	url = git://github.com/VimEz/ShowMarks.git
[submodule "vim/bundle/skwp-powerline"]
	path = vim/bundle/skwp-powerline
	url = git://github.com/skwp/vim-powerline.git
[submodule "vim/bundle/chrisbra-color-highlight"]
	path = vim/bundle/chrisbra-color-highlight
	url = git://github.com/chrisbra/color_highlight.git
[submodule "vim/bundle/scrooloose-nerdtree"]
	path = vim/bundle/scrooloose-nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/jistr-nerdtree-tabs"]
	path = vim/bundle/jistr-nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/bundle/kchmck-coffee-script"]
	path = vim/bundle/kchmck-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/tpope-repeat"]
	path = vim/bundle/tpope-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/tpope-commentary"]
	path = vim/bundle/tpope-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/tpope-surround"]
	path = vim/bundle/tpope-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/tpope-abolish"]
	path = vim/bundle/tpope-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/tpope-unimpaired"]
	path = vim/bundle/tpope-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/ruby-ruby"]
	path = vim/bundle/ruby-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/2072-phpindent"]
	path = vim/bundle/2072-phpindent
	url = git://github.com/2072/PHP-Indenting-for-VIm.git
[submodule "vim/bundle/tudorprodan-html-annoyance"]
	path = vim/bundle/tudorprodan-html-annoyance
	url = git://github.com/tudorprodan/html_annoyance.vim.git
[submodule "vim/bundle/Valloric-MatchTagAlways"]
	path = vim/bundle/Valloric-MatchTagAlways
	url = git://github.com/Valloric/MatchTagAlways.git
[submodule "vim/bundle/skwp-conque"]
	path = vim/bundle/skwp-conque
	url = git://github.com/skwp/vim-conque.git
[submodule "vim/bundle/mbbill-code-complete"]
	path = vim/bundle/mbbill-code-complete
	url = git://github.com/mbbill/code_complete.git
[submodule "vim/bundle/sirver-ultisnips"]
	path = vim/bundle/sirver-ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/ludovicPelle-xdebug"]
	path = vim/bundle/ludovicPelle-xdebug
	url = git://github.com/ludovicPelle/vim-xdebug.git
[submodule "vim/bundle/mattn-zencoding"]
	path = vim/bundle/mattn-zencoding
	url = git://github.com/mattn/zencoding-vim.git
